ion-view(view-title="ACCUEIL")
  ion-header-bar.bar-subheader.item-input-inset
    label.item-input-wrapper
      i.icon.ion-ios-search.placeholder-icon
      input(
        placeholder="Rechercher",
        ng-model="search.query",
        type="search")
    button.button-clear.button-royal(
      ng-disabled="search.query.length < 3",
      on-tap="homeController.search()")
      | OK
  ion-content
    ion-list
      ion-item.item-divider Résultats
      ion-item(ng-if="search.result.length < 1") Aucun résultat
      ion-item.item-icon-right(
        ng-repeat="result in search.results",
        ui-state-params="{ movieId: result.id }",
        ui-state="STATE_DETAILS")
        | {{ result.title }}
        i.icon.ion-ios-chevron-right
