ion-view.view-home(view-title="Titre Home=my acceuil~")
  ion-header-bar.bar-subheader.item-input-inset
    label.item-input-wrapper
      i.icon.ion-ios-search.placeholder-icon
      input(
        type="search",
        ng-model="search.query",
        placeholder="Rechercher")
    button.button.button-clear.button-positive(
      ng-disabled="search.query.length< 3",
      on-tap="homeController.search()") ok
  ion-content
    ion-list
      ion-item(ng-if="search.results.length < 1")
        | no nono
      ion-item.item-icon-right(
        ng-repeat="result in search.results",
        ui-state-parame="{id : result.id}",
        ui-state="STATE_DETAILS")
        | {{ result.title}}
        i.icon.ion-ios-arrow-forward
