h2= config.app
p(translate-value-greeter="{{ ::from }}", translate=".CONTENT")
button.button(
  on-tap="homeController.showPopup()",
  translate=".BUTTON",
  type="button")
language-picker(
  on-change="homeController.onLanguageChange(locale)",
  settings="settings")
